html, body {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.button {
    width: 10vw;
    height: 5vw;
    color: white;
    background-color: orange;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 100vh;
    border: none;
    cursor: pointer;
    margin: 2vw;
}

h1 {
    text-align: center;
    color: white;
    font-size: 5vw;
}

h2 {
    color: white;
    font-size: 3vw;
    margin-left: 4vw;
}

p {
    text-align: left;
    color: white;
    font-size: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

#list {
    text-align: left;
    color: white;
    font-size: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

pre, code {
    font-size: 2vw;
    color: white;
    text-align: left;
}
